@import 'antd/dist/antd.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'didot' !important;
}

.ant-layout-header {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
}
.logo {
    margin-right: auto;
}
a {
    color: black;
}
.hamburger-button {
    display: none;
}
.first-title {
    font-size: 82px;
}
.secondary-title {
    font-size: 102px;
    color: #f4b439;
}
.description-title {
    font-size: 22px;
    font-weight: 600;
    padding-right: 15%;
}
.refer-btn {
    padding: 0.75rem 2.5rem;
    margin-top: 2rem;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    font-size: 700;
    transition: ease 0.18s;
}
.refer-btn:hover {
    cursor: pointer;
    background-color: rgb(31, 31, 31);
}
.description-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    align-items: center;
    font-size: 16px;
    color: rgb(110, 110, 110);
}
.term-container h2 {
    font-size: 22px;
    margin-bottom: 33px;
}
.term-container ul {
    padding: 0 18px 0 18px;
}
.term-container li {
    margin-bottom: 1rem;
}
.image-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    h1 {
        line-height: 1;
    }
    .first-title {
        font-size: 62px;
    }
    .secondary-title {
        font-size: 82px;
    }
    .hamburger-button {
        display: block;
    }
    .menu {
        display: none;
    }
    .ant-layout-content {
        margin: 1rem !important;
        padding: 2rem 2rem !important;
    }
}
@media screen and (max-width: 991px) {
    .image-container {
        display: none;
    }
    .ant-layout-content {
        margin: 1rem !important;
        padding: 2rem 2rem !important;
    }
}
