@import 'antd/dist/antd.css';

.ant-layout-header {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
}
.logo {
    margin-right: auto;
}
a {
    color: black;
}
.hamburger-button {
    display: none;
}

@media screen and (max-width: 480px) {
    .hamburger-button {
        display: block;
    }
    .menu {
        display: none;
    }
}
